@tailwind base;
@tailwind components;
@tailwind utilities;

.customToast .Toastify__toast,
.recharts-default-tooltip {
  @apply bg-gray-800;
  @apply text-white;
}

.preventScroll {
  @apply overflow-hidden;
}

body,
html {
  background-color: rgb(18, 25, 32) !important;
}

header,
body {
  @apply text-white;
}

.recharts-default-tooltip {
  background-color: #242933 !important;
  color: #fff;
}

.customInputFile {
  @apply w-0 hidden;
}

#notificationCenter:checked ~ div {
  @apply flex flex-wrap;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded-2xl;

  &:hover {
    @apply bg-base-200;
  }
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.box {
  @apply w-full max-w-5xl;
}

#menuSidebar {
  img {
    @apply max-w-[90%];
  }
}

.statBox {
  @apply bg-base-200 rounded-md w-80 ml-5 h-28;
}
